@use "../assets/styles/mixins.scss" as *;
@use "../assets/styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Old+Italic&display=swap");

.overlay_text {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%) ;
  font-size: 2rem;
  color: white;
  width: 100%;
  text-align: center;
  pointer-events: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

.smallText {
  font-size: 1.3rem;
}

.canva_positions {
  z-index: 1;
  top: 0%;
  left: 0;
}

.next_prev_btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 11;
  width: 100%;
  padding: 0 1rem;
  @include flex-between;
  transform: translateX(-50%);
}
button {
  @include flex-center;
  padding: 1rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  i {
    font-size: 1rem;
  }
}

.but_button {
  transition: background-color 0.8s ease,
    transform 0.2s ease ,box-shadow 0.2s ease;
  // padding: 1rem 2rem;
  border-radius: 10px;
  font-family: $font-button;
  letter-spacing: 1px;
  font-size: 0.7rem;
  color: #fff;
  box-shadow: 0 0.3rem 0rem 0 black;
  cursor: pointer;

  &:hover {
    transform: translateY(0.3rem);
    box-shadow: 0 0rem 0rem 0 black;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
}

.btn_small_txt {
  font-size: 0.5rem;
}

// .but_button {
//   transition: background-color 0.8s ease, transform 0.2s ease;
//   padding: 1rem 2rem;
//   border-radius: 50px;
//   font-family: $font-button;
//   letter-spacing: 1px;
//   font-size: 1.3rem;
//   color: #fff;
//   box-shadow: 0 0.3rem 0rem 0 black;
//   cursor: pointer;
//   &:hover {
//     transform: translateY(0.3rem);
//     box-shadow: 0 0rem 0rem 0 black;
//     transition: box-shadow 0.2s ease, transform 0.2s ease;
//   }
// }

@include respond(sm) {
  .overlay_text {
    top: 5%;
    font-size: 3rem;
  }

  .smallText {
    font-size: 3rem;
  }

  .next_prev_btn {
    padding: 0 1.7rem;
  }
  button {
    padding: 1.2rem;
    i {
      font-size: 1.3rem;
    }
  }

  .but_button {
    font-size: 1rem;
  }

  .btn_small_txt {
    font-size: 1rem;
  }
}

@include respond(md) {
  .overlay_text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) ; // center horizontally and vertically
    font-size: 8rem;
  }

  .smallText {
    font-size: 5rem;
  }

  .next_prev_btn {
    bottom: 12%;
    width: 70%;
    padding: 0 1rem;
  }

  .but_button {
    font-size: 1.1rem;
  }

  .btn_small_txt {
    font-size: 1.1rem;
  }
}

@include respond(lg) {
  .overlay_text {
    font-size: 11rem;
  }

  .smallText {
    font-size: 7rem;
  }

  .next_prev_btn {
    bottom: 12%;
    width: 60%;
    padding: 0 1rem;
  }

  .but_button {
    font-size: 1.3rem;
  }

  .btn_small_txt {
    font-size: 1.3rem;
  }
}

@include respond(xl) {
  .overlay_text {
    font-size: 15rem;
  }

  .smallText {
    font-size: 9rem;
  }
}

@include respond(xxl) {
  .overlay_text {
    font-size: 17rem;
  }

  .smallText {
    font-size: 10rem;
  }

  .but_button {
    font-size: 1.3rem;
  }

  .btn_small_txt {
    font-size: 1.3rem;
  }
}
